---
layout: page
title: RealGrid DEMO
published: true
description: ""
---

<blockquote>
<p>
  RealGrid 데모 사이트는 RealGrid의 모든 기능을 다양하게 활용할 수 있는 방법을 보여드릴 뿐만 아니라
  데모에서 보여지는 기능을 어떻게 구현할 수 있는지 그 방법과 소스코드를 제공하고 있습니다.
</p>
</blockquote>

<h2><font color="red">공지사항</font></h2>

RealPivot 데모가 추가 되었습니다.<br/><br/>

2019년 12월 13일
<p>● <a href="https://demo.realgrid.com/Pivot/PivotGridFiltering/" target="_blank">피벗 데이터 디테일</a></p>
<p>● <a href="https://demo.realgrid.com/Pivot/PivotExport/" target="_blank">피벗 엑셀 내보내기</a></p>


튜토리얼 및 FAQ가 추가 되었습니다.<br/><br/>

2019년 4월 9일
<p>● <a href="https://help.realgrid.com/tutorial/a31/" target="_blank">A31 DynamicStyle 개요</a></p>

2019년 4월 3일
<p>● <a href="https://help.realgrid.com/tutorial/a30/" target="_blank">A30 displayCallback()을 사용하여 원하는대로 표시값 설정하기</a></p>

2019년 2월 22일
<p>● <a href="https://help.realgrid.com/tutorial/a29/" target="_blank">A29 동적 스타일과 편집 여부 설정</a></p>

2018년 12월 28일 
<p>● <a href="https://help.realgrid.com/faq/DynamicGridHeight/" target="_blank">조회된 그리드 행수에 따라 그리드의 크기를 동적으로 변경할 수 있나요??</a></p>

2018년 12월 21일 
<p>● <a href="https://help.realgrid.com/faq/License/" target="_blank">개발/운영 라이선스를 적용하는 방법은 어떻게 되나요?</a></p>

2018년 12월 14일 
<p>● <a href="https://help.realgrid.com/tutorial/a28/" target="_blank">A28 스타일 설정 방법</a></p>

2018년 11월 14일  
<p>● <a href="https://help.realgrid.com/tutorial/c23/" target="_blank">C23 계산 필드</a></p>
<p>● <a href="https://help.realgrid.com/tutorial/c24/" target="_blank">C24 Group Footer를 특정 조건에 맞게 계산하기 - II</a></p>
<p>● <a href="https://help.realgrid.com/faq/FreeMemory/" target="_blank">리얼그리드가 사용한 메모리를 해제시킬 수 있나요?</a></p>
<p>● <a href="https://help.realgrid.com/faq/vuejs-realgrid/" target="_blank">Vue.Js에서 리얼그리드를 사용할 수 있나요?</a></p>
<p>● <a href="https://help.realgrid.com/faq/emptyMessage/" target="_blank">조회된 것이 없는 경우 "조회된 내용이 없습니다." 메시지를 그리드에 표시할 수 있나요?</a></p><br/>

<h2>최신 버전 소식 <!--({{ site.release_version }})--></h2>
<p><strong>RealPivot v{{ site.realpivot_version }} 버전</strong>이 Release 되었습니다.</p>
<p>
<strong>{{ site.release_date | date: "%Y년 %m월 %d일" }} RealGrid v{{ site.release_version }}버전</strong>
이 릴리즈 되었습니다.
이번 릴리즈에서는 새로운 기능이 추가 되거나 개선되었습니다.
또, 지난 버전 이후 문제되었던 크고 작은 오류들도 해결되었습니다.<br/>
링크를 클릭하여 새롭게 추가되거나 개선된 내용을 확인하세요.
</p>

<p><a href="{{ '/release/#section' | prepend: site.baseurl }}">최신버전 확인하기</a></p>


<h2>최신 기능</h2>

{% include home/topics.html %}

<h2>주요 기능 미리보기</h2>

{% include home/summary.html %}
