---
layout: page
title: RealGrid DEMO
published: true
description: ""
---

<blockquote>
<p>
  RealGrid 데모 사이트는 RealGrid의 모든 기능을 다양하게 활용할 수 있는 방법을 보여드릴 뿐만 아니라
  데모에서 보여지는 기능을 어떻게 구현할 수 있는지 그 방법과 소스코드를 제공하고 있습니다.
</p>
</blockquote>

<h2><font color="red">공지사항</font></h2>


튜토리얼 및 FAQ가 추가 되었습니다.<br/><br/>

2018년 4월 9일  
<p><a href="http://help.realgrid.com/tutorial/c22/" target="_blank">C22 행 삽입, 행 추가</a></p>
<p><a href="http://help.realgrid.com/faq/NumberDigit/" target="_blank">FAQ RealGridJS 숫자를 입력 받을때 자릿수를 제한하고 싶습니다.</a></p>

2018년 3월 26일
<p><a href="http://help.realgrid.com/tutorial/c20/" target="_blank">C20 Tree그리드에서 체크셀렌더러 사용.</a></p>
<p><a href="http://help.realgrid.com/tutorial/c21/" target="_blank">C21 Tree그리드에서 체크바 사용.</a></p><br/>


<h2>최신 버전 소식 ({{ site.release_version }})</h2>

<p>
<strong>{{ site.release_date | date: "%Y년 %m월 %d일" }} v{{ site.release_version }}버전</strong>
이 릴리즈 되었습니다.
이번 릴리즈에서는 새로운 기능이 추가 되거나 개선되었습니다.
또, 지난 버전 이후 문제되었던 크고 작은 오류들도 해결되었습니다.<br/>
링크를 클릭하여 새롭게 추가되거나 개선된 내용을 확인하세요.
</p>

<p><a href="{{ '/release/#section' | prepend: site.baseurl }}">최신버전 확인하기</a></p>

<h2>최신 기능</h2>

{% include home/topics.html %}

<h2>주요 기능 미리보기</h2>

{% include home/summary.html %}
