
<script type="text/javascript" src="{{ "/lib/common/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/lib/common/main.js" | prepend: site.baseurl }}"></script>


<script type="text/javascript" src="{{ "/lib/realgrid/realgridjs-lic.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ realgrid_file | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ realgrid_apifile | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ realgrid_zipfile | prepend: site.baseurl }}"></script>
