{% comment %}
  page style 처리를 위해 footer class는 유일 하게 반드시 존재해야 한다.
{% endcomment %}
<div class="footer">

</div>
<script type="text/javascript" src="{{ "/lib/common/smooth-scroll.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/lib/common/main.js" | prepend: site.baseurl }}"></script>

<link rel="stylesheet" type="text/css" href="/lib/realpivot/realpivot_eval.{{ site.realpivot_version }}/css/default_blue.css">
<link rel="stylesheet" type="text/css" href="/lib/css/pivot_demo.css">

<!-- <script type="text/javascript" src="{{ "/lib/realgrid/realgridjs-lic.js" | prepend: site.baseurl }}"></script> -->
 <script type="text/javascript" src="{{ "/lib/realgrid/local-realgridjs-lic.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ realgrid_file | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ realgrid_apifile | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ realgrid_zipfile | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="/lib/realpivot/realpivot_eval.{{ site.realpivot_version }}/messages/realpivot-messages.js"></script>
<script type="text/javascript" src="/lib/realpivot/realpivot_eval.{{ site.realpivot_version }}/realpivot_eval.{{ site.realpivot_version }}.min.js"></script>
