<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Title -->
    <title>RealGrid DEMO - html5/canvas Web Data Grid - RealGrid(웹 데이터 그리드 - 리얼그리드) 데모사이트 -
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

    <script type="text/javascript" src="{{ "/lib/jquery/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>

    {% if site.realgrid_product == 'eval' %}
        {% capture realgrid_product %}_eval{% endcapture %}
    {% else %}
        {% capture realgrid_product %}_eval{% endcapture %}
    {% endif %}

    {% capture realgrid_folder %}/lib/realgrid/realgridjs{{ realgrid_product }}.{{ site.realgrid_version }}{% endcapture %}
    {% capture realgrid_file %}{{ realgrid_folder }}/realgridjs{{ realgrid_product }}.{{ site.realgrid_version }}.min.js{% endcapture %}
    {% capture realgrid_apifile %}{{ realgrid_folder }}/realgridjs-api.{{ site.realgrid_version }}.js{% endcapture %}
    {% capture realgrid_zipfile %}{{ realgrid_folder }}/jszip.min.js{% endcapture %}

<!--
      <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/css/prettify.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
      <link rel="stylesheet" href="{{ "/css/octicons.css" | prepend: site.baseurl }}">
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

      <script type="text/javascript" src="{{ "/script/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
      <script type="text/javascript" src="{{ "/script/bootstrap.min.js" | prepend: site.baseurl }}"></script>
      <script type="text/javascript" src="{{ "/script/prettify.js" | prepend: site.baseurl }}"></script>
 -->
<!--
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/png" href="<%- theme.favicon || 'https://www.meteor.com/favicon.png' %>" sizes="16x16 32x32 64x64">

    <meta name="google-site-verification" content="" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,300italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
 -->
</head>
