<div class="nav dark">
    <div class="nav-group">
        <div class="nav-item">
            <span class="js-sidebar-toggle show-mobile">
                <span class="icon-menu"></span>
            </span>
            <a class="logo show-desktop"
                href=""
                title="{{ site.title }}">
                <img src="/images/realgrid-logo.png"
                    style="width:31px; height:39px;"
                    alt="{{ site.title }}">
                <span>{{ site.title }}</span>
            </a>
        </div>
    </div>

    <div class="nav-group right">
        <div class="nav-item show-mobile">
            <span class="js-search-toggle">
                <span class="icon-search"></span>
            </span>
        </div>

        <div class="nav-item show-desktop active">
            <a class="link"
                href="http://help.realgrid.com">
                <span>개발자문서</span>
            </a>
        </div>
        <div class="nav-item show-desktop">
            <a class="link"
                href="http://demo.realgrid.com/questions/">
                <span>질문답변</span>
            </a>
        </div>
        <div class="nav-item show-desktop">
            <a class="link"
                href="http://help.realgrid.com">
                <span>평가판</span>
            </a>
        </div>
    </div>
</div>
