{% if site.realgrid_product == 'eval' %}
    {% capture realgrid_product %}_eval{% endcapture %}
{% else %}
    {% capture realgrid_product %}_eval{% endcapture %}
{% endif %}

{% capture realgrid_folder %}/lib/realgrid/realgridjs{{ realgrid_product }}.{{ site.realgrid_version }}{% endcapture %}

<div id="{{ include.treeId }}" class="realgrid" style="width:{{ include.treeWidth }}; height:{{ include.treeHeight }}"></div>
{% if include.showToolbox != false %}
<div class="toolbox">
  <div class="buttonbox">
    {% comment %} showCodes() 는 include/head.html 에 있음. {% endcomment %}
    <a class="btn tertiary small lowercase" onclick="showCodes(event, '{{ include.treeId }}field')">필드</a>
    <a class="btn tertiary small lowercase" onclick="showCodes(event, '{{ include.treeId }}column')">컬럼</a>
    <a class="btn tertiary small lowercase" onclick="showCodes(event, '{{ include.treeId }}dpoption')">Provider 옵션</a>
    <a class="btn tertiary small lowercase" onclick="showCodes(event, '{{ include.treeId }}viewoption')">Tree 옵션</a>
    <a class="btn tertiary small lowercase" onclick="showCodes(event, '{{ include.treeId }}style')">스타일</a>
  </div>
  <pre class="codeview {{ include.treeId }}field"></pre>
  <pre class="codeview {{ include.treeId }}column"></pre>
  <pre class="codeview {{ include.treeId }}dpoption"></pre>
  <pre class="codeview {{ include.treeId }}viewoption"></pre>
  <pre class="codeview {{ include.treeId }}style"></pre>
</div>
{% endif %}


<script>
    var {{ include.treeVar }};
    var {{ include.dpVar }};

    $(document).ready( function(){
        RealGridJS.setRootContext("{{ realgrid_folder | prepend: site.baseurl }}");

        {{ include.dpVar }} = new RealGridJS.LocalTreeDataProvider();
        {{ include.treeVar }} = new RealGridJS.TreeView("{{ include.treeId }}");
        {{ include.treeVar }}.setDataSource({{ include.dpVar }});

        {% if include.fieldSet %}
            {% capture fieldfile %}/resource/layout/{{ include.fieldSet }}.json{% endcapture %}

            $.getJSON("{{ fieldfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.dpVar }}.setFields(data);

                $('.codeview.{{ include.treeId }}field').html(
                  JSON.stringify(data, null, 4)
                );

                {% if include.successFieldSet %}
                  {{ include.successFieldSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setFocus();

                {% if include.doneFieldSet %}
                  {{ include.doneFieldSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failFieldSet %}
                  {{ include.failFieldSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.columnSet %}
            {% capture columnfile %}/resource/layout/{{ include.columnSet }}.json{% endcapture %}

            $.getJSON("{{ columnfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setColumns(data);

                $('.codeview.{{ include.treeId }}column').html(
                  JSON.stringify(data, null, 4)
                );

                {% if include.successColumnSet %}
                  {{ include.successColumnSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setFocus();

                {% if include.doneColumnSet %}
                  {{ include.doneColumnSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failColumnSet %}
                  {{ include.failColumnSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.dpOptionSet %}
            {% capture optionfile %}/resource/option/{{ include.dpOptionSet }}.json{% endcapture %}

            $.getJSON("{{ optionfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.dpVar }}.setOptions(data);

                $('.codeview.{{ include.treeId }}dpoption').html(
                  JSON.stringify(data, null, 4)
                );

                {% if include.successDpOptionSet %}
                  {{ include.successDpOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setFocus();

                {% if include.doneDpOptionSet %}
                  {{ include.doneDpOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failDpOptionSet %}
                  {{ include.failDpOptionSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.treeOptionSet %}
            {% capture optionfile %}/resource/option/{{ include.treeOptionSet }}.json{% endcapture %}

            $.getJSON("{{ optionfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setOptions(data);

                $('.codeview.{{ include.treeId }}viewoption').html(
                  JSON.stringify(data, null, 4)
                );

                {% if include.successTreeOptionSet %}
                  {{ include.successTreeOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setFocus();

                {% if include.doneTreeOptionSet %}
                  {{ include.doneTreeOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failTreeOptionSet %}
                  {{ include.failTreeOptionSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.styleSet %}
            {% capture stylefile %}/resource/style/{{ include.styleSet }}.json{% endcapture %}

            $.getJSON("{{ stylefile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setStyles(data);

                $('.codeview.{{ include.treeId }}style').html(
                  JSON.stringify(data, null, 4)
                );

                {% if include.successStyleSet %}
                  {{ include.successStyleSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.treeVar }}.setFocus();

                {% if include.doneStyleSet %}
                  {{ include.doneStyleSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failStyleSet %}
                  {{ include.failStyleSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}


        {% if include.dataSet %}
            {% if include.showProgress %}
              {{ include.treeVar }}.showProgress();
            {% endif %}
            {% capture datafile %}/resource/data/{{ include.dataSet }}{% endcapture %}
            $.ajax({
              type: "GET",
              url:"{{ datafile | prepend: site.baseurl }}",
              success: function(data, textStatus, jqXHR) {
                {% if include.successDataSet %}
                  {{ include.successDataSet }}(data, textStatus, jqXHR);
                {% endif %}
              }
              {% if include.showProgress %}
              ,xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.addEventListener("progress", function (evt) {
                    if (evt.lengthComputable) {
                        {{ include.treeVar }}.setProgress(0, evt.total, evt.loaded);
                    }
                }, false);
                return xhr;
              }
              {% endif %}
            })
            .done( function(data, textStatus, jqXHR) {
              {{ include.treeVar }}.setFocus();
              {% if include.doneDataSet %}
                {{ include.doneDataSet }}(data, textStatus, jqXHR);
              {% endif %}
              {% if include.showProgress %}
                {{ include.treeVar }}.closeProgress();
              {% endif %}
            })
            .fail( function(jqxhr, textStatus, error) {
              var err = textStatus + ', ' + error;
              {% if include.failDataSet %}
                {{ include.failDataSet }}(jqxhr, textStatus, error);
              {% else %}
                console && console.log("jQuery ajax() Failed: " + err);
                alert("jQuery ajax() Failed: " + err);
              {% endif %}
            });
        {% endif %}

    });
</script>
