{% if site.realgrid_product == 'eval' %}
    {% capture realgrid_product %}_eval{% endcapture %}
{% else %}
    {% capture realgrid_product %}_eval{% endcapture %}
{% endif %}

{% capture realgrid_folder %}/lib/realgrid/realgridjs{{ realgrid_product }}.{{ site.realgrid_version }}{% endcapture %}

<div id="{{ include.gridId }}" style="width:{{ include.gridWidth }}; height:{{ include.gridHeight }}"></div>

<script>
    var {{ include.gridVar }};
    var {{ include.dpVar }};

    $(document).ready( function(){
        RealGridJS.setRootContext("{{ realgrid_folder | prepend: site.baseurl }}");

        {{ include.dpVar }} = new RealGridJS.LocalDataProvider();
        {{ include.gridVar }} = new RealGridJS.GridView("{{ include.gridId }}");
        {{ include.gridVar }}.setDataSource({{ include.dpVar }});

        {% if include.fieldSet %}
            {% capture fieldfile %}/resource/layout/{{ include.fieldSet }}.json{% endcapture %}

            $.getJSON("{{ fieldfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.dpVar }}.setFields(data);

                {% if include.successFieldSet %}
                  {{ include.successFieldSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setFocus();

                {% if include.doneFieldSet %}
                  {{ include.doneFieldSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failFieldSet %}
                  {{ include.failFieldSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.columnSet %}
            {% capture columnfile %}/resource/layout/{{ include.columnSet }}.json{% endcapture %}

            $.getJSON("{{ columnfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setColumns(data);

                {% if include.successColumnSet %}
                  {{ include.successColumnSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setFocus();

                {% if include.doneColumnSet %}
                  {{ include.doneColumnSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failColumnSet %}
                  {{ include.failColumnSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.dpOptionSet %}
            {% capture optionfile %}/resource/option/{{ include.dpOptionSet }}.json{% endcapture %}

            $.getJSON("{{ optionfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.dpVar }}.setOptions(data);

                {% if include.successDpOptionSet %}
                  {{ include.successDpOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setFocus();

                {% if include.doneDpOptionSet %}
                  {{ include.doneDpOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failDpOptionSet %}
                  {{ include.failDpOptionSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.gridOptionSet %}
            {% capture optionfile %}/resource/option/{{ include.gridOptionSet }}.json{% endcapture %}

            $.getJSON("{{ optionfile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setOptions(data);

                {% if include.successGridOptionSet %}
                  {{ include.successGridOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setFocus();

                {% if include.doneGridOptionSet %}
                  {{ include.doneGridOptionSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failGridOptionSet %}
                  {{ include.failGridOptionSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

        {% if include.styleSet %}
            {% capture stylefile %}/resource/style/{{ include.styleSet }}.json{% endcapture %}

            $.getJSON("{{ stylefile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setStyles(data);

                {% if include.successStyleSet %}
                  {{ include.successStyleSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setFocus();

                {% if include.doneStyleSet %}
                  {{ include.doneStyleSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failStyleSet %}
                  {{ include.failStyleSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}


        {% if include.dataSet %}
            {% capture datafile %}/resource/data/{{ include.dataSet }}.json{% endcapture %}

            $.getJSON("{{ datafile | prepend: site.baseurl }}", function (data, textStatus, jqXHR) {
                {{ include.dpVar }}.setRows(data);

                {% if include.successDataSet %}
                  {{ include.successDataSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .done(function (data, textStatus, jqXHR) {
                {{ include.gridVar }}.setFocus();

                {% if include.doneDataSet %}
                  {{ include.doneDataSet }}(data, textStatus, jqXHR);
                {% endif %}
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ', ' + error;

                {% if include.failDataSet %}
                  {{ include.failDataSet }}(jqxhr, textStatus, error);
                {% else %}
                  console && console.log("jQuery getJSON() Failed: " + err);
                  alert("jQuery getJSON() Failed: " + err);
                {% endif %}
            });
        {% endif %}

    });
</script>
