<div class="sidebar">

  <div class="sidebar-content">
    <div class="topcap">
      <span class="title-sidebar">{{ site.subtitle }}</span>
      {% if config.versions.length > 1 %}
        <span class="select version-sidebar nochrome">
          <select class="version-select">
            {% for v in config.versions %}
              <option value="v{{ v }}">{{ v }}</option>
            {% endfor %}
          </select>
        </span>
      {% endif %}
    </div>

    <div class="wrapper-search">
      <div class="input-symbol small round">
        <input type="text" placeholder="Search Demo" id="desktop-search-input" />
        <span class="icon-search"></span>
      </div>
      <div class="wrapper-desktop-search-results"></div>
    </div>

    <ul class="toc">
        <li>
            <ul class="list-toc">
                {% assign sorted_by_orderno = site.pages | sort: "order" %}
                {% for path in sorted_by_orderno %}
                    {% if path.title %}
                    <li class="item-toc {% if page.title == path.title %}current {% endif %}">
                        <a href="{{ path.url | prepend: site.baseurl }}" class="sidebar-link {% if page.title == path.title %}current{% endif %}">
                            <span>{{ path.title }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% assign sorted_by_orderno = site.posts | sort: "order" %}
                {% for path in sorted_by_orderno %}
                    {% if path.title %}
                    <li class="item-toc {% if page.title == path.title %}current {% endif %}">
                        <a href="{{ path.url | prepend: site.baseurl }}" class="sidebar-link {% if page.title == path.title %}current{% endif %}">
                            <span>{{ path.title }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>

        {% for category in site.sidebar_categories %}
        <li>
          {% if category != 'null' %}
            <div class="heading-toc">{{ category }}</div>
          {% endif %}

          <ul class="list-toc">
            {% assign sorted_by_orderno = site.demos | sort: "order" %}
            {% for demo in sorted_by_orderno %}
              {% assign democat = demo.categories[0] | downcase %}
              {% assign cat = category[0] | downcase %}

              {% if cat == democat %}
              <li class="item-toc {% if page.title == demo.title %}current {% endif %}">
                <a href="{{ demo.url | prepend: site.baseurl }}" class="sidebar-link {% if page.title == demo.title %}current{% endif %}">
                  <span>{{ demo.title }}</span>
                </a>
              </li>
              {% endif %}

            {% endfor %}
          </ul>

        </li>
        {% endfor %}

        <!--릴리즈 메뉴-->
        <li>
          <div class="heading-toc release">release</div>
          <ul class="list-toc">
            {% assign sorted_by_orderno = site.release | sort: "date" | reverse %}
            {% for item in sorted_by_orderno %}
                {% if item.sidebar %}
                  <li class="item-toc {% if page.title == item.title %}current {% endif %}">
                    <a href="{{ item.url | prepend: site.baseurl }}" class="sidebar-link {% if page.title == item.title %}current{% endif %}">
                      <span>{{ item.title }}</span>
                    </a>
                  </li>
                {% endif %}
            {% endfor %}
          </ul>
        </li>

    </ul>
  </div>
</div>
