---
layout: default
---

{% include sidebar.html %}

{% include header.html %}

<div class="content">

  <div class="content-wrapper" >
    <div class="header-content">
      <h1 class="title-page">{{ page.title }}</h1>
      {% if page.description  %}
        <div class="subtitle-page">{{ page.description }}</div>
      {% endif %}

      <div class="page-actions">
        <div class="actions-group">
          <a class="btn primary small round lowercase" href="{{ githubUrl }}" target="_blank"><span class="icon-github"></span> <span>Edit on GitHub</span></a>
          {% if page.discourseTopicId %}
            <a class="btn tertiary small round lowercase" href="https://forums.meteor.com/t/{{ page.discourseTopicId }}"><span class="icon-comment"></span> <span>Discuss</span></a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="document-formatting">
      {{ content }}
    </div>
  </div>

</div>
