---
layout: default
---

{% include header.html %}

{% include sidebar.html %}

<div class="content">

    <div class="content-wrapper {% if page.devbox or page.devboxfile %}with-devbox{% else %}no-devbox{% endif %}">
        <div class="header-content">
            <h1 class="title-page">{{ page.title }}</h1>
            {% if page.description or page.releaseVersion %}
                <div class="subtitle-page">
                    {% if page.releaseDate and page.releaseVersion  %}
                        <!--버전이 있는 경우 버전 표시-->
                        {{ page.releaseDate }} Relaese {{ page.releaseVersion }}
                    {% else %}
                        {{ page.description }}
                    {% endif %}
                </div>
            {% endif %}

            {% if page.devbox %}
            <!-- <div class="page-actions">
                <div class="actions-group">
                    <a class="btn primary small lowercase"
                        onclick="togglePageStyles();">
                        <span class="icon-github"></span>
                        <span>개발자용</span>
                    </a>
                </div>
            </div> -->
            {% endif %}

            {% if page.action %}
            <div class="page-actions">
                <div class="actions-group">
                    <a class="btn primary small round lowercase"
                        href="{{ githubUrl }}"
                        target="_blank">
                        <span class="icon-github"></span>
                        <span>Edit on GitHub</span>
                    </a>

                    {% if page.discourseTopicId %}
                    <a class="btn tertiary small round lowercase"
                        href="https://forums.meteor.com/t/{{ page.discourseTopicId }}">
                        <span class="icon-comment"></span>
                        <span>Discuss</span>
                    </a>
                    {% endif %}

                </div>
            </div>
            {% endif %}
        </div>

        <div class="document-formatting">
            {{ content }}
        </div>
    </div>
</div>

{% if page.devboxfile %}
<div class="sidebar devbox">
  <div class="sidebar-content devbox document-formatting">
      {% capture my-include %}{% include_relative devbox/{{page.devboxfile}} %}{% endcapture %}
      {{ my-include | markdownify }}
  </div>
</div>
{% endif %}
