{% assign count = 0 %}
{% for item in site.data.topics %}
    {% assign count = count | plus:1 %}
    {% assign mod = count | modulo: 2 %}
    {% if mod == 1 %}
    <div class="row text-center m-t-30">
    {% endif %}

        <div class="col-md-6 col-xs-6 animated fadeInLeft wow" data-wow-delay=".1s">
            <a href="{{ item.link | prepand: site.baseurl }}" target="_blank">
            <img class="img-responsive snapshot" src="{{ 'images/snapshot/'  | prepand: site.baseurl }}{{item.image}}" alt="{{item.name}}" />
            </a>
            <label class="text-center">{{ item.name }}</label>
        </div>

    {% if mod == 0 %}
    </div>
    {% endif %}

{% endfor %}
